body {
    margin: 0;
    background-color: #0B090A;
    font-family: "Figtree", sans-serif;
}
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card-flip {
    width: 340px;
    aspect-ratio: 2894 / 5665;
    perspective: 1000px;
    border-radius: 18px;
    overflow: hidden;
}
.card-inner-flip {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
    will-change: transform;
    border-radius: 18px;
}
.card-flip:hover .card-inner-flip {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    will-change: transform;
    border-radius: 18px;
}
.card-front img, .back-frame{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 18px;
}
.card-back {
    transform: rotateY(180deg);
}
.back-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.back-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 110px;
}
.back-content a {
    color: #E7DFDD;
    text-decoration: none;
}
.logo {
    position:absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}
.name-logo {
    position:absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
}
.role {
    position:absolute;
    top: 185px;
    width: 100%;
    text-align: center;
    color: #E7DFDD;
    font-size: 18px;
    margin: 0;
}
.email {
    position:absolute;
    top: 230px;
    width: 100%;
    text-align: center;
    color: #E7DFDD;
    font-size: 14px;
    text-decoration: none;
}
.portfolio-site {
    position:absolute;
    top: 260px;
    width: 100%;
    color: #E7DFDD;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.social-links {
  position: absolute;
  top:320px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}
.social-links a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #7dcfb6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.icon {
    width: 20px;
    height: 20px;
    color: #0b090a;
}

.email a:visited, .portfolio-site a:visited {
    color: #E7DFDD;
}
.email a:hover, .portfolio-site a:hover {
    color: #7dcfb6;
}